* {box-sizing: border-box;}
.container {
  margin: 0 auto;
  width: 80%;
}
.header h1 {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 70px;
}
.column {
  display: inline-block;
  float: left;
  width: 33.33333333333333%;
}
.main-text {
  padding-top: 60px;
  clear: both;
}
.image img {
border: 1px solid #73450C;
}
.intro {
  padding: 0 5% 0 3%;
}
.intro p {
  -webkit-margin-before: 0;
  font-size: 3em;
  font-weight: 100;
  padding: 20% 0;
}
/*Typography*/
h1,
h2,
h3 {
  font-family: PT Sans, helvetica, arial, sans-serif;
}
p,
li {
  font-family: Mukta Mahee, palatino, cambria, serif;
}
.skills h3 {
  text-align: center;
  text-transform: uppercase;
}
#skill-list {
  margin-left: 50px;
}
body {
  background-color: #fffeea;
  color: #73450C;
}
.skills {
  background-color: #ABA332;
  color: #FFF;
}
.inline {
  display: inline-block;
}
.nav a {
  display: inline-block;
  float: right;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 20px 10px 20px;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}
.nav {
  background-color: #ABA332;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background:rgba(171,163,50,0.6);
}
.nav a:hover {
  color:#73450C;
  text-decoration: none;
}
.nav ul li {
  display: inline-block;
  float: right;
    padding-right: 2%;
}
.nav ul li a {
  display: inline-block;
  float: right;
}
