.jumbotron {
  background-image: url("../img/trees2.jpg");
  background-size: cover;}

.jumbotron p {
  color: #FFF;
  font-size: 2em;
  padding-top: 0%;
}

.jumbotron h1 {
  color: #fff;
  padding-bottom: 5%;
  padding-top: 70px;
  margin-right: 3%;
}

.row p {
  color: #73450C;
}
.carousel-caption p,
.carousel-caption h3 {
  color: #FFF;
}
.carousel {
  margin-left: -15px;
  margin-right: -15px;
}
h2 {
  color: #73450C;
}
h1,
h2,
h3 {
  font-family: PT Sans, helvetica, arial, sans-serif;
}
p {
    font-family: Mukta Mahee, palatino, cambria, serif;
}
.down {
  margin-bottom: -50px;
}
.up {
  margin-bottom: 46%;
}
/**** Contact Styles ****/
h1 {
  text-align: center;
  padding-bottom: 5%;
  color: #73450C;
  margin-right:3%;
  padding-top: 7%;
}
h3 {
  text-align: center;
}
h2 {
  color: #73450C;
  padding:0 10%;
}
p {
  color: #fff;
}
h4 {
  text-align: center;
  /*padding: 5%;*/
  color: #fff;
}
.pcolor {
  clear: both;
  color: #73450C;
}
.h3top {
  padding-top: 5%;
}
/*
.clear {
  background-color: initial;
  margin-right: 5%;
}
*/
.shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  margin: 0 0 5% 0;
}
body {
  background-color: #fffeea;
  }
h1,
h2,
h3 {
  font-family: PT Sans, helvetica, arial, sans-serif;
}
p,
li {
  font-family: Mukta Mahee, palatino, cambria, serif;
}
/*pixels*/
.nav a {
  display: inline-block;
  float: right;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 20px 10px 20px;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}
/*pixels*/
.nav {
  background-color: #ABA332;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background:rgba(171,163,50,0.6);
}
.nav a:hover {
  color:#73450C;
  text-decoration: none;
}
.nav ul li {
  display: inline-block;
  float: right;
  padding-right: 2%;
}
.nav ul li a {
  display: inline-block;
  float: right;
}
.panel {
  font-family: Mukta Mahee, palatino, cambria, serif;
  border-color: #73450C
}
.panel-heading {
  background-color: #ABA332 !important;
  border-color: #73450C;
}
.panel-title {
  font-family: PT Sans, helvetica, arial, sans-serif;
  color: #fff;
}
/*about page*/

#about-intro {
  -webkit-margin-before: 0;
  font-size: 3em;
  font-weight: 100;
  margin: 5% 0;
  color: #73450C;
}
#about-skills h3 {
  text-align: center;
  text-transform: uppercase;
}
#skill-list {
  margin-left: 50px;
}

#about-skills {
  background-color: #ABA332;
  color: #FFF;
}
/* bootstrap */

@media (max-width: 880px) {
  body {
    background-color: red;
  }
}
.mdMargin {
  margin: 3% 3%;
}
.img-right {
  margin-right: -2%;
}
.img-left {
  margin-right: +2%;
}
