.jumbotron {
  background-image: url("../img/trees2.jpg");
  background-size: cover;}

.jumbotron p {
  color: #FFF;
  font-size: 2em;
  padding-top: 0%;
}

.jumbotron h1 {
  color: #fff;
  padding-bottom: 5%;
  padding-top: 70px;
  margin-right: 3%;
}
.row p {
  color: #73450C
}
h2 {
  color: #73450C;
}
h1,
h2,
h3 {
  font-family: PT Sans, helvetica, arial, sans-serif;
}
p {
    font-family: Mukta Mahee, palatino, cambria, serif;
}
/**** Contact Styles ****/
h1 {
  text-align: center;
  padding-bottom: 5%;
  color: #73450C;
  margin-right:3%;
  padding-top: 70px;
}
h3 {
  text-align: center;
  padding: 5%;
  color: #fff;
}
h2 {
  color: #73450C;
  padding:0 10%;
}
p {
  color: #fff;
}
.column {
  display: inline-block;
  float: left;
  width: 30%;
  background-color: #ABA332;
  color: #FFF;
  margin-left: 2%;
}
.column p {
  padding: 5%;
}
.clear {
  background-color: initial;
  margin-right: 5%;
}
.shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  margin: 0 0 5% 0;
}
body {
  background-color: #fffeea;
  }
h1,
h2,
h3 {
  font-family: PT Sans, helvetica, arial, sans-serif;
}
p,
li {
  font-family: Mukta Mahee, palatino, cambria, serif;
}
.nav a {
  display: inline-block;
  float: right;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 20px 10px 20px;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}
.nav {
  background-color: #ABA332;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav a:hover {
  color:#73450C;
  text-decoration: none;
}
.nav ul li {
  display: inline-block;
  float: right;
    padding-right: 2%;
}
.nav ul li a {
  display: inline-block;
  float: right;
}
.panel {
  font-family: Mukta Mahee, palatino, cambria, serif;
  border-color: #73450C
}
.panel-heading {
  background-color: #ABA332 !important;
  border-color: #73450C;
}
.panel-title {
  font-family: PT Sans, helvetica, arial, sans-serif;
  color: #fff;
}
