/*general*/

h1,
h2,
h3 {
  font-family: PT Sans, helvetica, arial, sans-serif;
}
p {
    font-family: Mukta Mahee, palatino, cambria, serif;
}
body {
  background-color: #fffeea;
  position: relative;
}
p {
  color: #fff;
}
h1 {
  text-align: center;
  padding-bottom: 5%;
  color: #73450C;
  margin-right:3%;
  padding-top: 7%;
}
h2 {
  color: #73450C;
  padding:0 10%;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
  color: #fff;
}
button {
  margin-top: 2%;
}
.container-fluid {
  width:90%;
}
.container-left {
  margin-left: 5%;
}
.container-contact {
  width: 100%;
}
.modal-header h4{
  color: #000;
}
.carousel-text {
  margin-bottom: 46%;
}

/*Intro-Section*/

/*Jumbtron CSS

.jumbotron {
  background-image: url("../img/trees2.jpg");
  background-size: cover;
}
.jumbotron p {
  color: #FFF;
  font-size: 2em;
  padding-top: 0%;
}
.jumbotron h1 {
  color: #fff;
  padding-bottom: 5%;
  padding-top: 70px;
  margin-right: 3%;
}
*/
.nav a:hover {
  color: white;
  text-decoration: none;
}
.nav ul li {
  display: inline-block;
  padding-right: 2%;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #FF5733;
}
.nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 20px 10px 20px;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}
.nav {
  top: 0;
  z-index: 1;
}
.projectName {
  text-transform: uppercase;
}
.projectName a {
  color: white;
}
.carousel-caption p,
.carousel-caption h3 {
  color: #FFF;
}
.carousel {
  margin-left: -15px;
  margin-right: -15px;
}
.row p {
  color: #73450C;
}

/*FAQ Section*/

.panel {
  font-family: Mukta Mahee, palatino, cambria, serif;
  border-color: #73450C
}
.panel-heading {
  background-color: #ABA332 !important;
  border-color: #73450C;
}
.panel-title {
  font-family: PT Sans, helvetica, arial, sans-serif;
  color: #fff;
}
.contact-buffer {
  margin-bottom: 5%;
}
.projectName a {
  color: #fff;
}
.contactheader {
  color: white;
  text-shadow:-1.5px 0 #73450C, 0 1.5px #73450C, 1.5px 0 #73450C, 0 -1.5px #73450C;
}
.col-margin {
  margin-bottom: 5%;
}
.twitter-follow-button {
}
#copyright {
color: #000;
margin-right: 4%;
}
.form-control {
  width: 80%;
}

/*Contact Section*/

#contact-text {
  font-size: 1.5em;
}

.learn-more {
  text-align: left;
  float: left;
}
h2 .learn-more {
  padding: 0 0;
}
.row {
  margin: 10px;
  padding: 15px;
  margin-right: 25px;
}
.container {
  width:100%;
  height:100%;
  padding-left: 7%;
  padding-right: 7%;
  text-align: justify;
}
.modal-button {
  float: right;
  padding-right: 10%;
/*how do I get this to align?*/
}
footer {
  display: flex;
  background-color:
  <!--try and fix height and make color-->
  overflow: auto;
  padding: 1% 1%;
  height: 120px;
  /*flex-wrap: wrap;*/
}
#twitterP {
  padding: 0% 2%;
}
.container-fluid
.fb-like {
  padding: 0% 2%;
}
#about-intro {
  -webkit-margin-before: 0;
  font-size: 3em;
  font-weight: 100;
  margin: 5% 0;
  color: #73450C;
}
#about-skills h3 {
  text-align: center;
  text-transform: uppercase;
}
#contact {
    background-image: url("../img/contact.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding:100px;
    padding-top: 50px;
    height: 100%;
}
#contact-background {
  background-color: #fffeea;
  color: #73450C;
}
#carousel-header {
  color: #FFF;
  font-size: 3.5em;
  text-shadow:-1.5px 0 #73450C, 0 1.5px #73450C, 1.5px 0 #73450C, 0 -1.5px #73450C;
}
#carousel-header-2 {
  color: #fff;
  font-size: 2em;
  text-shadow:-1.5px 0 #73450C, 0 1.5px #73450C, 1.5px 0 #73450C, 0 -1.5px #73450C;
}
#modalembed {
    height: 500px;
    width: 100%;
    padding: 10px;
}
.card {
    width:250px;
    height:250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
    margin:2%;
}

/* Work Section */



/* About Me */
.pcolor {
  clear: both;
  color: #73450C;
}
#skill-list {
  margin-left: 50px;
}
#skills {
  background-color:#73450C;
  color: #fff;
}
.h3top {
  padding-top: 5%;
}
