.jumbotron {
  background-image: url("../img/trees2.jpg");
  background-size: cover;}

.jumbotron p {
  color: #fff;
  font-size: 2em;
}

.jumbotron h1 {
  color: #fff;
}

h2 {
  color: #73450C;
}
h1,
h2,
h3 {
  font-family: PT Sans, helvetica, arial, sans-serif;
}
p {
    font-family: Mukta Mahee, palatino, cambria, serif;
}
